/* CSS files add styling rules to your content */

body {
  font-family: 'Rokkitt', serif;
  margin: 2em;
  background-color: #cccccc;
  background-repeat:no-repeat;
  background-size: 100% 100%;
}

h1 {
  font-family: 'Courgette', cursive;
  color: #b39eb5;
}


* {
  box-sizing: border-box;
}

.box {
  float: left;
  padding: 50px;
  height: 300px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.bluebox {
  background-color: blue;
  color: white;
}
.yellowbox {
  background-color: yellow;
}
.redbox {
  background-color: red;
}
.greenbox {
  background-color: green;
}
.purplebox {
  background-color: purple;
  color: white;
}
.pinkbox {
  background-color: pink;
}

.threecol {
  width: 33.33%;
}
.twocol {
  width: 50%;
}
.onecol {
  width: 100%;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width:800px) {
  .threecol, .twocol, .onecol {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

a {
  border: 1px solid red;
  padding: 10px;
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

div.stupidbutton {
  border: 1px solid red;
  padding: 10px;
  text-decoration: none;
  background-color:white;
}

.blue{
 background-color:blue;
}

.important{
  background-color:yellow;
  
}