/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #FEAE47;
}

h1 {
  font-family: 'Satisfy', cursive;
  color: #434852;
  text-align: center;
}
table, th, td {
  margin: 0px auto;
  border: 1px solid #FFFFFF;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left; 
}

table {
  background-color: #56BDE6;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: purple;
}

/* selected link */
a:active {
  color: blue;
}

ul {
    display: table; 
    margin: 0 auto;
    text-align: left;
}

li a {
  color: black
}